
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td></td>
    </tr>

</table>
<button class="btn btn-info">Yeni Kategori</button>